.albums-dom {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-page {
margin: 50px
}
 

.all-albums{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three song boxes per row */
    grid-gap: 20px; /* Gap between song boxes */
  
}
.album-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    color: black;
   text-decoration: none;
    font-weight: bold;
    margin: 30px;
}

/* .album-section img {
    margin: 0px;
    width: 400px;
    height: 400px;
    border-style: double;
    border-color: black;
    border-width: 5px;
    border-radius: 2px; */

.album-song {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    align-items: center;
    border: solid black 0.5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    height: 51px;
    width: 510px;
  }
  
  .album-song:hover {
    background-color: rgb(79, 79, 79);
    cursor: pointer;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
  }
  
  .album-title img {
    margin: 5px;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    border-radius: 0.5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .album-title:hover img {
    transform: scale(1.2);
  }
  

  .album-title.active {
      background-color: rgb(255, 0, 0); /* Apply a different background color for the active title */
      color: rgb(255, 255, 255); /* Apply a different text color for the active song */
    }
.album-song-list {
    display: flex;
    flex-direction: column;
    margin-left: 20px
}
.album-song {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    align-items: center;
    border: solid black 0.5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    height: 51px;
    width: 510px;
  }
  
  .album-song:hover {
    background-color: rgb(79, 79, 79);
    cursor: pointer;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
  }
  
  .album-song img {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    border-radius: 0.5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .album-song:hover img {
    transform: scale(1.2);
  }
  

  .album-song.active {
      background-color: rgb(255, 0, 0); /* Apply a different background color for the active song */
      color: rgb(255, 255, 255); /* Apply a different text color for the active song */
    }

.album-song h3 {

}

.play-icon {
cursor: pointer;
    height: 20px;
    padding: 2px;
    color:rgb(44, 184, 145);
    margin-left: 1%
}

.song-link {
    text-decoration: none;
    color: black
}
