.comment-bodybox {
    border-width: 2px;
    border-color: #25335a;
    border-style: solid;
    border-radius: 5px;
    height: auto;
    width: 500px;
    background-color: #e8e7df;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
}




 .comment-profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0px
  }

#feed {
    display: flex;
    flex-direction: column-reverse;
    align-items:flex-start;
}

.comment-section {
    display: flex;
   justify-content: center;
}

.comment-form {
margin: 10px;
}

.user-default {
    height: 40px;
    width: 40px
}

.user-comment-info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

.comment-text {

    border-radius: 48px;
    padding: 12px;
    color:#1e1e1e;

  }

  
  .comment-info {
    display: flex;
    flex-direction: column;
  }
    
  .comment-title-row {
    display: flex;
    align-items: center;
    flex-direction: row;
  
  }
  .comment-info-row {
    display: flex;
    align-items: center;
    flex-direction: row;
  
  }

  .comment-username {
    color: grey;
    font-size: 1.5em;
    margin-left: 10px;
  }
