.comment-bodybox {
    border-width: 1px;
    border-color: #25335a;
    border-style: solid;
    border-radius: 5px;
    height: auto;
    width: 500px;
    background-color: aliceblue;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 10px;
}



 .comment-profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0px
  }

#feed {
    display: flex;
    flex-direction: column-reverse;
    align-items:flex-start;
}

.comment-section {
    display: flex;
   justify-content: center;
}

.comment-form {
margin: 10px;
}

.user-default {
    height: 40px;
    width: 40px
}

.user-comment-info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

  .comment-text {
    border: solid green 1px;
    border-radius: 48px;
    padding: 12px;
    margin-left: 25px
  }
  

  
  .comment-info {
    display: flex;
    flex-direction: column;
  }
  
  .comment-info-row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
