#loginsignup {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px black solid;

}

.homepage {
    display: flex;
    /* overflow: scroll; */
}
.formbuttons {
    margin-top: 15px;
    padding: 5px;
}
