.songfeed {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1200px 300px;
    overflow: scroll;
    /* grid-auto-rows: minmax(500px, 800px); */
    justify-items: stretch;
    align-items: stretch;
}
#loginsignup {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px black solid;

}
.songfeed {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    
}

.songfeed-bottom{
    background-color: red;
    height: 50px;
    grid-column: span 2
  }
.formbuttons {
    margin-top: 20px;
    padding: 5px;
    width: max-content;
}

.songs-section {
    width: 70%
}
