ul {
  list-style-type: none;
}
.song-page-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  align-items: center;

}
.song-page-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  }
 .songname {
    color: whitesmoke;
    margin-left: 10px;
    font-size: 50px;
    margin-top: 0px
  }
section p{
  color: whitesmoke;
  margin-left: 45px;
  margin-bottom: 54px;
  margin-top: -26px;
    }


.songs-sections {
  display: flex;
  flex-direction: row;
}
.song-list-title {
display: flex;
flex-direction: column;
align-items: center;
}

img.songpage-img {
margin: 0px;
  width: 300px;
  height: 100%;
  border-style: none;
  border-color: rgb(0, 0, 0);
  border-width: 5px;
  border-radius: 2px;
}

img {
  margin: 30px;
  width: 200px;
  height: 200px;
  border-style: double;
  border-color: rgb(0, 0, 0);
  border-width: 5px;
  border-radius: 2px;
}
.song-list {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;


}

.songs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  overflow: scroll;
  width: max-content;
}

.song-box {
  display: flex;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  width: 400px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: white;
}

.song-box:hover {
  background-color: rgb(191, 247, 231);
  cursor: pointer;
}
.singleSong {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.songpage-link {
text-decoration: none;
color: black;
display: flex;
flex-direction: column;
align-items: center;
}

.singleSong p {
  margin: 0px
}
Link {
  color: white;
}

li {
  color: black;
  margin-left: 10px;
}

.song-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 200px;
  margin-bottom: 15px;
  margin-top: 15px;;
  background-color: rgba(255, 255, 255, 0);
}

.comment {
  margin-bottom: 10px;
}

#comment-form {
  background-color: #e8e7df;
  border: black solid 2px;
  border-radius: 4px;
  margin-top: 70px;
  padding: 10px;
}

.comment-input {
  height: 40px;
}

.comments-songpage {

}



.audio-player {
  display: flex;
  width: 90%;
  height: 287px;
  background-color: #000000;
  border-radius: 0px;
  padding: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
 
}

.audio-player audio {
  margin-top: 90px;
  margin-left: 20px;
  width: 95%;
  height: 40px
}
