ul {
  list-style-type: none;
}
.song-list-page {
  display: flex;
  flex-direction: column;

}

.songs-sections {
  display: flex;
  flex-direction: row;
}
.song-page-title {
display: flex;
flex-direction: column;
align-items: center;
}
img {
  margin: 30px;
  width: 200px;
  height: 200px;
  border-style: double;
  border-color: black;
  border-width: 5px;
  border-radius: 2px;
}

.song-list {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;


}

.songs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 900px;
  overflow: scroll;
  width: max-content;
}

.song-box {
  display: flex;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  width: 400px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: white;
}

.song-box:hover {
  background-color: rgb(191, 247, 231);
  cursor: pointer;
}
.singleSong {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.songpage-link {
text-decoration: none;
color: black;
display: flex;
flex-direction: column;
align-items: center;
}

.singleSong p {
  margin: 0px
}
Link {
  color: white;
}

li {
  color: black;
  margin-left: 10px;
}

.song-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 200px;
  margin-bottom: 15px;
  margin-top: 15px;;
  background-color: rgba(255, 255, 255, 0);
}

.comment {
  margin-bottom: 10px;
}

#comment-form {
  background-color: #e8e7df;
  border: black solid 2px;
  border-radius: 4px;
  margin-top: 70px;
  padding: 10px;
}

.comment-input {
  height: 40px;
}

.comments-songpage {

}
