ul {
    list-style-type: none;
}

.song-comments {
    display: grid;
    border:blue;
    border-style: double;
    border-width: 5px;
    /* align-content: space-between;
    justify-content: space-around;
    justify-items: stretch; */
    gap: 50px 100px;
}

img {
    margin-top: 30px;
    width: 200px;
    height: 200px;
}

.song-list {
    display: grid;
    border: 10px;
    border-style: dashed;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: baseline;

}

.song-box {
    display: flex;
    border-style: double;
    width: 400px;
    flex-direction: column;
    align-items: center;
}

.singleSong {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px
}

.song-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 200px;
}

.comments {
    border-style: groove;
    background-color: brown;
    display:flex;
    justify-content: space-around;
}

.delete {

}

.playButton {

}
