/* TODO Add site wide styles */
div {
    background-color: #faf5f1;
}

.home-form {
    display: flex;
    background-color: #faf5f1;
    width: 100%;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
    }



    .home-form form {
        display: block;
        background-color: #faf5f1;
        margin: 10px
    }
