.navList {
display: flex;
justify-content: center;
}

.profileButton {
    margin-left: 10px;
}

.profile-dropdown {
 display: block;

}


i {
    padding-left: 10px;
}
.listItem {
    list-style-type: none;
}

 ul .listItem:hover {
    background-color: black;
    color: white;
    cursor:pointer
 }
