
#main-header{
    display: flex;
    /* padding: 15px; */
    margin: auto;
    /* overflow: hidden; */
    background-color: #34ccaa;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#main-header #mylinks{
    /* padding: 15px; */
    /* margin-left: 99px; */
    background-color: #34ccaa;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#main-header h1{
    background-color: #34ccaa;
    color: #25335a
}
#main-header button{
width: 100px;
}


.profileButton {
    position: relative;
    cursor: pointer;
  }
  
  .profile-dropdown {
    position: absolute;
    top: 100%; /* Position below the button */
    right: 0; /* Align to the right */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 4px;
    z-index: 1000; /* Ensure it appears above other content */
    display: flex;
    flex-direction: column;
    min-width: 150px; /* Set a minimum width */
  }
  
  .profile-dropdown .listItem {
    padding: 8px;
    cursor: pointer;
  }
  
  .profile-dropdown .listItem:hover {
    background-color: #f0f0f0; /* Highlight on hover */
  }
  
  #navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Set a fixed height */
    background-color: #333; /* Adjust as needed */
  }
  


#navbar a:hover {
    background-color: black;
    color: white;
    padding: 2px

}

.navList {
    display: flex;
    width: 90%;
    justify-content: space-around;
}
#navbar a{
    text-decoration: none;
    color:aliceblue;
    width: 100%;
   }

.container {
    background-color: rgb(106, 75, 246);
    position: relative;
    height: 100%;
    /* width: auto; */
    
}


.listItem{
padding: 3px;
text-align: center;
}


.nav-profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0px
  }
