.navList {
display: flex;
justify-content: flex-start;
align-items: flex-start;
}

.profileButton:hover {
    background-color: black;
    color: white
}

.profile-dropdown {
 display: inline;

}

nav {

}

.active {
    margin: 10px;
    color: white;
    border-width: 3px;
border-style: dashed;
border-color: brown;
}


i {
    padding-left: 10px;
}
.listItem {
    list-style-type: none;
}

 ul .listItem:hover {
    background-color: black;
    color: white;
    cursor:pointer
 }

 .active {
    color: blue;
    margin-left: 5px;
    margin-right: 5px;
 }
